# Shared
NODE_ENV=development

# apps/web
PORT=3000
INFERENCE_URL=http://localhost:4000
SESSION_PASSWORD=

# apps/inference
INFERENCE_PORT=4000
MONGODB_URI=
CHROMA_URL=
REDIS_URL=
LLM_PROVIDER=
LLM_API_KEY=

# apps/workers
WORKERS_HEALTH_PORT=4100
